header{
    position: absolute;
    top: 0;
    width: 95%;
    margin: 10px 30px;
    height: 4.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

#head {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 19px;
}

header a {
    color: black;
    text-decoration: none;
}

header img{
    margin-left: 10px;
    position: relative;
    height: 100%;
}

.container {
    display: grid;
        grid-gap: 30px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 45% 1fr 1fr 1fr 1fr;
    background-color: #fff;
    color: #444;
    text-align: center;
    margin: 10% 10% 2% 10%;
}

.item-1 {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.item-2 {
    grid-column: 1;
    grid-row: 2;
}

.item-3 {
    grid-column: 1;
    grid-row: 3;
}

.item-4 {
    grid-column: 1;
    grid-row: 4;
}

.item-5 {
    grid-column: 1;
    grid-row: 5;
}

.item-6 {
    grid-column: 2;
    grid-row: 1 / span 5;
    align-self: center;
    justify-self: center;
}

p, h1 {
    margin: 0px;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    color: black;
}

.about {
    font-family: 'Poppins', sans-serif;
    font-weight: 300px;
    color:#696969;
}

.ballot {
    background-color:rgba(69, 210, 241, 0.51);
    padding: 20px;
    border-radius: 25px;
    display:flex;
    align-items:center;
}

.ballot:hover{
    background-color:rgba(69, 210, 241, 0.8);
}

a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

/* VERIFICATION CSS */

.verification-steps {
    grid-column: 1;
    grid-row: 2 / span 4;
    align-self: center;
    justify-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: black;
    text-decoration: none;
    text-align: left;
}

input[type=text] {
    background-color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

input[type=file] {
    background-color: white;
    padding: 5px 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    font-size: 20px;
    width:275px;
}


form {
    text-align: center;
}

.form {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-top: 25px;
    text-transform: uppercase;
}

#secure {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 30px;
    padding: 5px 25px;
    text-transform: uppercase;
    background-color:rgba(69, 210, 241, 0.51);
    border-radius: 50px;
}

#secure:hover {

}